<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}｜{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>

<body>

<header>
    <h1><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a></h1>

    <nav>
        {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </nav>
</header>

<hr>

<main>

    <article>

        <h1>{{ .Title }}</h1>

        <p>
            {{ .Date.Format "2006年01月02日" }}
            {{ with .Params.category }}
                ｜ {{ . }}
            {{ end }}
        </p>

        <hr>

        <div>
            {{ .Content }}
        </div>

    </article>

</main>

<hr>

<footer>
    <p>© Kirby1215</p>
</footer>

</body>
</html>